body.toolbar.toolbar-drawer #block-kent-state-og-user-utility-bar nav {
  top: 65px; }

body.toolbar div[role="document"] {
  margin-top: 40px; }
body.toolbar #block-kent-state-og-user-utility-bar nav {
  top: 30px; }

body div[role="document"] {
  margin-top: 40px; }

#block-kent-state-og-user-utility-bar .content {
  margin: 0; }
#block-kent-state-og-user-utility-bar nav {
  float: left;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
  box-shadow: inset 0 -1px 0px 0px #555; }
  #block-kent-state-og-user-utility-bar nav ul, #block-kent-state-og-user-utility-bar nav div {
    padding: 0;
    background-color: #333;
    list-style: none;
    margin: 0; }
  #block-kent-state-og-user-utility-bar nav > ul {
    box-shadow: inset 0 -1px 0px 0px #555; }
    #block-kent-state-og-user-utility-bar nav > ul.right > li > ul ul {
      left: -100%;
      top: 0; }
    #block-kent-state-og-user-utility-bar nav > ul.right ul a.has-drop:before, #block-kent-state-og-user-utility-bar nav > ul.right ul span.has-drop:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 1em;
      left: .5em;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #ccc; }
    #block-kent-state-og-user-utility-bar nav > ul.left ul a.has-drop:after, #block-kent-state-og-user-utility-bar nav > ul.left ul span.has-drop:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 1em;
      right: .5em;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #ccc; }
    #block-kent-state-og-user-utility-bar nav > ul.left > li > ul ul {
      left: 100%;
      top: 0; }
    #block-kent-state-og-user-utility-bar nav > ul > li {
      box-shadow: inset 0 -1px 0px 0px #555;
      float: left; }
      #block-kent-state-og-user-utility-bar nav > ul > li:first-child {
        box-shadow: inset 1px 0px 0px 0px #555; }
      #block-kent-state-og-user-utility-bar nav > ul > li.full {
        position: inherit; }
      #block-kent-state-og-user-utility-bar nav > ul > li > a.has-drop {
        padding-left: 1em !important;
        padding-right: 2em !important;
        box-shadow: inset -1px 0px 0px 0px #555;
        padding-right: 1em; }
        #block-kent-state-og-user-utility-bar nav > ul > li > a.has-drop:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 1.2em;
          right: .5em;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #ccc; }
      #block-kent-state-og-user-utility-bar nav > ul > li > span.has-drop {
        padding-left: 1em !important;
        padding-right: 2em !important;
        box-shadow: inset -1px 0px 0px 0px #555;
        padding-right: 1em; }
        #block-kent-state-og-user-utility-bar nav > ul > li > span.has-drop:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 1.2em;
          right: .5em;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #ccc; }
      #block-kent-state-og-user-utility-bar nav > ul > li ul li {
        box-shadow: inset 0 1px 1px -1px #ccc; }
    #block-kent-state-og-user-utility-bar nav > ul ul {
      transition: all .3s ease-out;
      position: absolute;
      visibility: hidden;
      top: 100%;
      z-index: 10;
      opacity: 0;
      width: 100%; }
    #block-kent-state-og-user-utility-bar nav > ul div.full {
      transition: all .3s ease-out;
      position: absolute;
      visibility: hidden;
      left: 0;
      width: 100%;
      z-index: 10;
      opacity: 0; }
  #block-kent-state-og-user-utility-bar nav ul.left {
    float: left; }
  #block-kent-state-og-user-utility-bar nav ul.right {
    float: right; }
  #block-kent-state-og-user-utility-bar nav ul li {
    transition: all .2s ease-out;
    position: relative; }
    #block-kent-state-og-user-utility-bar nav ul li.has-drop:hover {
      background-color: #404040; }
      #block-kent-state-og-user-utility-bar nav ul li.has-drop:hover a:hover, #block-kent-state-og-user-utility-bar nav ul li.has-drop:hover span:hover {
        background-color: #404040; }
      #block-kent-state-og-user-utility-bar nav ul li.has-drop:hover > ul, #block-kent-state-og-user-utility-bar nav ul li.has-drop:hover > div.full {
        visibility: visible;
        opacity: 1; }
    #block-kent-state-og-user-utility-bar nav ul li a, #block-kent-state-og-user-utility-bar nav ul li span {
      box-sizing: border-box;
      display: block;
      padding: .5em;
      width: 100%; }
    #block-kent-state-og-user-utility-bar nav ul li a {
      color: #10A4F6;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
