// Non-modular or client styles for .l-header region.

/* ==========================================================================
   Header Styles
   ========================================================================== */

@mixin text-shadow-research($a, $b, $c, $color){
      -webkit-text-shadow: $a $b $c $color;
      -moz-text-shadow: $a $b $c $color;
	  -ms-text-shadow: $a $b $c $color;
      text-shadow: $a $b $c $color;
}

@mixin border-radius-giveasklink($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}  

.header-top-container{
height:161px;
background-image:url('../images/topHeadBg.jpg');
}

.block-google-appliance-ga-block-search-form{
margin-top: .5em;
width: 40%;
float: right !important;
clear: both;

position: relative;
top: 22px;
}

.block-google-appliance-ga-block-search-form #edit-search-keys{
width: 212px;
margin-right: 20px;
}


#block-kent-state-blocks-site-utility-menu a{
color: #003976;
text-transform: uppercase;
font-weight: bolder;
font-size: 15px;
}

#block-kent-state-blocks-site-utility-menu a:first-child {
color:#426da9 !important;
}

.az a{
float: left;
color: #003976 !important;
text-transform: uppercase;
font-weight: bold;
font-size: 15px;
height: 0px;
margin-top: 5px;
}

#google-appliance-block-form{
float:right;
}

#google-appliance-block-form .postfix.button{
background:transparent;
width: 30px;
}
#google-appliance-block-form .fa.fa-search.fa-2x{
color:#426da9;
font-weight: bold;
}

.giveaskLink{
float: right;
margin-top: .5em;
}

.giveaskLink ul li{
list-style:none;
float:left;
background-color:#426da9;
line-height: 15px;
padding-bottom: 4px;
margin-right:15px;
@include border-radius-giveasklink(2px);
}


.giveaskLink ul li a{
color:#FFF;
font-size: 13px;
margin-left:10px;
margin-right:10px;
text-transform:uppercase;
}
   
.block.block-kent-state-blocks-group-megamenu .content{
background-color:#0da2dd !important;
}
.fa.fa-caret-down{
color:#eaab00;
text-shadow: 1px 1px 1px #0b86b7;
}


.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-title{
font-size:18px;
}


section.researchSponsoredProg{
background: rgba(13, 162, 221, .7);
height:91px;
border-top:solid 8px #dba810;
clear:both;
}

section.researchSponsoredProg span h2{
font-family: 'Museo300';
font-size:36px;
color:#FFF;
text-align: center;
margin-top: 15px;
@include text-shadow-research(0, 1px, 1px, #2d7f9f);
}