
//kill the "save as default" button on panels, because no one should ever see it.
#panelizer-save-default{
    display:none;
}

body.panels-ipe{
    footer{
        margin-bottom:59px;
    }
}

//ipe modal tweaks
#modal-content fieldset legend{
    margin:0;
    left:0;
}

.draggable a.tabledrag-handle .handle{
    height:30px;
    width:30px;
}

div.panels-ipe-placeholder h3{
    width:200px;
}

.panels-ipe-linkbar{
    margin-bottom:0;
    li{
        display:inline-block;
    }
}

.panels-add-content-modal .panels-section-columns:last-child{
    float:none;    
}
