.node.node-page.view-mode-landing_teaser{
    .field.field-name-field-page-media.field-type-image{
        max-height:320px;
        overflow:hidden;
        img{
            max-height:320px;
        }
    }
}