/* #002663 and PMS 281 */
/* #ECAC00 and PMS 124 */
/* #002147 and PMS 282 */
/* #ba8b00 and PMS 125 */
/* #009ddb and PMS Cyan */
/* #ffc82e and PMS 123C */
/* #EEEEEE and Cool Gray */
/* #e0ded9 and Warm Gray 1C */
/* #c7c2bc and Warm Gray 3C */
/* #afa79f and Warm Gray 5C */
/* #8b8078 and 8C */
/* #000000 */
/* #879637 and PMS 7495C */
/* #5B6334 and PMS 5753C */
/* #6e2c6b and PMS 255C */
/* #589199 and PMS 5483C */
/* #c54c00 and PMS 1525C */
/* #6a491c and PMS 1405C */
/* #9e2345 and PMS 208C */
/* #9e2345 and PMS 208C */
/* #426da9 */
.top-bar h1, .top-bar h5 {
  transition: all .3s ease-in;
  background-color: #002147; }
.top-bar h5:hover {
  background-color: #002664; }
.top-bar .title-area .name img {
  -webkit-transform: translate3d(0, 0, 0);
  width: 220px; }
.top-bar .top-bar-section ul {
  background-color: #002147; }
  .top-bar .top-bar-section ul li > a {
    background-color: #002147;
    transition: .3s all ease-in; }
    .top-bar .top-bar-section ul li > a:hover {
      background-color: #002664; }
.top-bar form input {
  padding: 0.7em; }
.top-bar form i {
  position: relative;
  top: -4px; }
.top-bar form .row.search-links {
  display: none; }

.block-kent-state-blocks-site-utility-menu {
  margin-top: .5em; }
  .block-kent-state-blocks-site-utility-menu a {
    color: white; }
  .block-kent-state-blocks-site-utility-menu .content > a {
    padding-right: .5em; }
    .block-kent-state-blocks-site-utility-menu .content > a:last-of-type:after {
      content: ''; }
    .block-kent-state-blocks-site-utility-menu .content > a:after {
      content: '|';
      position: relative;
      right: -.35em; }
  .block-kent-state-blocks-site-utility-menu .flashline-login-link ~ div.f-dropdown:nth-child(2) {
    max-width: 50%; }
    .block-kent-state-blocks-site-utility-menu .flashline-login-link ~ div.f-dropdown:nth-child(2) iframe {
      width: 100%;
      height: 250px; }

.block-google-appliance-ga-block-search-form {
  margin-top: .5em;
  width: 70%;
  float: left; }
  .block-google-appliance-ga-block-search-form input {
    margin-bottom: 0; }
  .block-google-appliance-ga-block-search-form button {
    margin-bottom: .2em; }
  .block-google-appliance-ga-block-search-form .search-links a {
    color: white; }

.block-kent-state-blocks-campus-donate {
  display: inline-block;
  vertical-align: top;
  width: 30%; }
  .block-kent-state-blocks-campus-donate img {
    width: 100px; }

.block-kent-state-blocks-campus-logo img, .block-kent-state-blocks-campus-logo-footer img {
  width: 300px;
  -webkit-transform: translate3d(0, 0, 0); }

.block-kent-state-blocks-campus-logo {
  margin-top: -2.5em;
  display: inline-block; }

.block-kent-state-blocks-group-header {
  border-top: 3px solid #eaab00;
  padding-top: .5em;
  padding-bottom: .5em; }
  .block-kent-state-blocks-group-header a {
    color: white; }
  .block-kent-state-blocks-group-header .group-parent-name {
    margin-bottom: .3em; }
    .block-kent-state-blocks-group-header .group-parent-name a:hover {
      text-decoration: underline; }
  .block-kent-state-blocks-group-header .group-name {
    font-size: 2em;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: .2em; }
  .block-kent-state-blocks-group-header .group-info {
    margin-top: .3em;
    color: white; }
    .block-kent-state-blocks-group-header .group-info span {
      margin-left: .5em; }
      .block-kent-state-blocks-group-header .group-info span:first-child {
        margin-left: 0; }
    .block-kent-state-blocks-group-header .group-info .email {
      text-decoration: underline; }

@media only screen and (max-width: 1024px) {
  .block.block-kent-state-blocks-group-megamenu {
    display: none; } }
.block.block-kent-state-blocks-group-megamenu .content {
  background-color: #002147; }
  .block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper {
    width: 1024px;
    margin: 0 auto;
    text-align: center; }
    .block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li {
      margin-left: -4px; }
      .block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-title {
        padding: 1em;
        color: white; }
        .block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-title:hover {
          color: initial;
          background-color: white; }
      .block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container {
        padding-top: .5em;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black; }

.block-kent-state-blocks-group-footer-menu {
  font-family: 'Roboto Slab', serif; }
  .block-kent-state-blocks-group-footer-menu [class*="block-grid-"] {
    margin: 0; }
  .block-kent-state-blocks-group-footer-menu a {
    color: white; }
    .block-kent-state-blocks-group-footer-menu a:hover {
      text-decoration: underline; }
  .block-kent-state-blocks-group-footer-menu ul.no-bullet li:first-child a {
    color: #eaab00;
    font-size: 1.5em; }

.block-kent-state-blocks-campus-footer .container {
  display: inline-block;
  padding: .5em; }
  .block-kent-state-blocks-campus-footer .container label {
    color: #eaab00;
    font-weight: 500;
    font-size: 1em; }

.menu-block-wrapper > ul.menu {
  padding-left: 0 !important;
  padding-top: 0;
  padding-bottom: .5em;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 5px -6px; }
.menu-block-wrapper ul.menu {
  float: left;
  width: 100%;
  margin-left: 0;
  padding-left: 1em;
  padding-bottom: 0;
  background-color: #fff;
  list-style: none; }
  .menu-block-wrapper ul.menu a {
    margin-bottom: .3em;
    padding-left: 1em;
    position: relative;
    float: left;
    width: 100%;
    padding-top: .3em;
    padding-bottom: .3em; }
    .menu-block-wrapper ul.menu a.active {
      font-weight: 400; }
    .menu-block-wrapper ul.menu a:before {
      content: '';
      background-color: #002664;
      width: .2em;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .menu-block-wrapper ul.menu a:hover {
      background-color: #ddd; }
  .menu-block-wrapper ul.menu li {
    float: left;
    width: 100%; }
    .menu-block-wrapper ul.menu li.active-trail, .menu-block-wrapper ul.menu li .active {
      display: block; }
      .menu-block-wrapper ul.menu li.active-trail > a:before, .menu-block-wrapper ul.menu li .active > a:before {
        background-color: #eaab00; }
      .menu-block-wrapper ul.menu li.active-trail *, .menu-block-wrapper ul.menu li .active * {
        display: block; }

.header-top-right-region {
  text-align: right; }

@media (max-width: 1024px) {
  .header-top-container {
    display: none; } }

.campus-header-region {
  text-align: center;
  margin-bottom: .5em; }
  @media (max-width: 1024px) {
    .campus-header-region {
      display: none; } }

.group-header-region {
  text-align: center; }

.footer-top-region {
  padding-top: .5em; }

.footer-middle-region {
  text-align: center; }
  .footer-middle-region ul.menu {
    list-style: none;
    margin: 0; }
    .footer-middle-region ul.menu li {
      display: inline-block; }
      .footer-middle-region ul.menu li a {
        position: relative;
        padding: .5em; }
        .footer-middle-region ul.menu li a:after {
          content: ' - ';
          position: absolute;
          right: -.25em; }
      .footer-middle-region ul.menu li:last-child a:after {
        content: ''; }

.footer-bottom-region {
  text-align: center; }

/*# sourceMappingURL=layout-export.css.map */
